@model List<TSC.SistemaComanda.Web.Models.ComandaViewModel>
@{
    ViewBag.Title = "Comandas";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @if (Model != null)
    {
        foreach (var comanda in Model)
        {
            <div class="col-md-3">
                <div class="card-counter @((comanda.Aberta) ? "danger" : "success")">
                    <a href="@Url.Action("Produtos",new {idComanda = comanda.IdComanda })" class="fill-div"></a>
                    <i class="fa fa-ticket ajusteCardIcon"></i>
                    <span class="count-numbers">@comanda.IdComanda</span>
                    <span class="count-name">Comanda</span>
                </div>
            </div>
        }

    }

</div>